body{
background-color: red;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 40px;
margin: auto auto;
text-align: center;
background-image: url("images/bin.jpg");

}


